@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: GillSans;
  src: url(./assets/fonts/GillSans.ttc);
}

@font-face {
  font-family: Baskerville;
  src: url(./assets/fonts/Baskerville.ttc);
}

@layer utilities {
  .square {
    height: 0;
    padding-bottom: 33.33%; /* Sets height relative to width */
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', GillSans, Baskerville,
    monospace;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 800ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

